<% if session[:user] %>
	<% if User.find(session[:user]).role == 0 || @user.id == session[:user] %>

<div class="container">
<div class="show_page">

	<div class="title_new">
	</div>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
		
		<div class="edit_page">

	        <% if @user && @user.errors.any? %>
				<div id="error_explanation">
					<h2>
						Ups! <%=pluralize(@user.errors.count, "error", "errors")%> found.
					</h2>
					<ul class="list-group">
						<% @user.errors.full_messages.each do |msg| %>
							<li class="list-group-item list-group-item-danger" ><%= msg %></li>
						<% end %>
					</ul>	
				</div>
			<% end %>

			<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">  Name </span>
					<%=f.text_field :name, :class => "form-control", :required => true %>
			</div>	

  			<div class="input-group" style="margin-top:10px;">
		 		<span class="input-group-addon" id="basic-addon1">  Username </span>
		 		<%= f.text_field :username, :class => "form-control", :required => true %>
		 	</div>	

			<div class="input-group" style="margin-top:10px;">
	  			<span class="input-group-addon">
	  				<%= f.radio_button(:gender, "male")%>
	  			</span>
	  			<%= f.label :gender_male, "Male", :class => "form-control" %>
	  		</div>

			<div class="input-group" style="margin-top:10px;">
	  			<span class="input-group-addon">
	  				<%= f.radio_button(:gender, "female")%>
	  			</span>
	  			<%= f.label :gender_female, "Female", :class => "form-control" %>
	  		</div>	

		    <div class="input-group" style="margin-top:10px;">
		    	<span class="input-group-addon" id="basic-addon1">  Address </span>
				<%=f.text_field :address, :class => "form-control", :required => true %>
			</div>

			<div class="input-group" style="margin-top:10px;">
				<span class="input-group-addon" id="basic-addon1">  Telephone </span>
				<%=f.text_field :phone, :class => "form-control", :required => true %>

				<span class="input-group-addon" id="basic-addon1">  CellPhone </span>
				<%=f.text_field :cellphone, :class => "form-control", :required => true %>
			</div>

			<div class="input-group" style="margin-top:10px;">
				<span class="input-group-addon" id="basic-addon1">  Email </span>
				<%=f.email_field :email, :class => "form-control", :required => true %>
			</div>

			<div class="input-group" style="margin-top:10px;">
				<span class="input-group-addon" id="basic-addon1">  Password </span>
				<%=f.password_field :password, :class => "form-control", :required => true %>
			</div>

<!--
	<fieldset>
		<%=f.file_field :image %>
	</fieldset>
-->
		<a href="<%= user_path(@user) %>" class="btn btn-default" style="margin: 10px 0 3px 0;">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			Back
		</a>

		<button type="submit" name="commit" value="Save changes" class="btn btn-success" style="margin: 10px 0 3px 0;">
		 	<span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right:4px;"></span>Save changes
		</button>	

<% end %>

		<%= form_for :order, url: reconfirm_path(@user), method: :post do |f| %>
		<%= f.submit 'Re-confirm pass', :class=> "btn btn-link", data:{confirm: "¿Are you sure?"} %>
		<% end %>

		<%if @user.role == 2 %>

			<%= form_for :user, url: inactive_path(@user), method: :patch do |f| %>
				<%= f.hidden_field "name" %>
				<%= f.hidden_field "username" %>
				<%= f.hidden_field "email" %>
				<%= f.hidden_field "password" %>
				
				<button type="submit" name="commit" value="Save changes" data-confirm="¿Are you sure?" class="btn btn-danger" style="margin: 0px 0 15px 0;">
		 		<span class="glyphicon glyphicon-trash" aria-hidden="true" style="margin-right:4px;"></span>Delete account
				</button>

			<% end %>
		<% end %>	


		</div>
	</div>
</div>	

	<% else %>
		<h2 class="not_found">Pagina no encontrada</h2>
	<% end %>
<% else %>
	<h2 class="not_found">Pagina no encontrada</h2>	
<% end %>

