<div class="container">
	<div class="show_page">

		<div class="title_new">
			<h3>Por favor escribe tu nueva contraseña</h3>
		</div>
	
			<% if flash[:notice] %>
				<div class="alert alert-danger" role="alert">
					<%= flash[:notice] %>
				</div>
			<% end %>

	<% if @user && @user.errors.any? %>
		<div id="error_explanation">
			<h2>
				Existen <%=pluralize(@user.errors.count, "error", "errores")%> en el formulario.
			</h2>
			<ul class="list-group">
				<% @user.errors.full_messages.each do |msg| %>
					<li class="list-group-item list-group-item-danger" ><%= msg %></li>
				<% end %>
			</ul>	
		</div>
	<% end %>

	<%= form_for :user, url: forgot_success_path(@user.id), method: :patch do |f| %>

			<div class="input-group" style="margin: 20px;">
				<span class="input-group-addon" id="basic-addon1">
				<%=f.label :password, "Nueva contraseña"%> </span>
				<%=f.password_field :password, :class => "form-control", :id => "pass" %>
			</div>
<!--
			<div class="input-group" style="margin: 20px;">
				<span class="input-group-addon" id="basic-addon1">
				<%=f.label :password_c, "Confirmar"%> </span>
				<%=f.password_field :password_confirmation, :class => "form-control", :id => "pass_c" %>
			</div>
		-->

		<%=f.submit "Cambiar", :class => "btn btn-success" , :id => "enviar", :style =>"margin: 20px;" %>

	<% end %>

</div>

</div>
</div>