<link rel="stylesheet" type="text/css" href="/assets/users.css">

<div class="container">
<div class="show_page">

<% if session[:user] %>
	<% if User.find(session[:user]).role != 2 %>

	<div class="title_new">
		<a href="<%= user_path(@user) %>" class="btn btn-primary">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			Volver
		</a>
	</div>

		<table class="table table-striped table-hover" >
			
			<tr>
				<th>
					ID
				</th>
				<th>
					Nombre
				</th>
				<th>
					Usuario
				</th>
				<th>
					Correo
				</th>
				<th>
					Rol
				</th>
				<th>
					Estado
				</th>
				<th colspan = 2 >
					Acciones
				</th>

			</tr>

			<% @users.each do |user| %>

				<tr>
					<td>
						<%= user.id %>
					</td>

					<td>
						<%= user.name %>
					</td>
					<td>
						<%= user.username %>
					</td>			

					<td>
						<%= user.email %>

						<% if user.verified %>
							<span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color:dodgerblue;"></span>
						<% else %>
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="color:red;"></span>
						<% end %>
					</td>	
					

					<td>
						<% if user.role == 0 %>
							Admin
						<% elsif user.role == 1 %>
							Almacen
						<% else %>
							Usuario
						<% end %>
					</td>
					<td>
						
						<% if user.status %>
							<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span>
						<% else %>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span>
						<% end %>
					</td>
					<td>
						<%= link_to 'Editar' , edit_user_path(user) %>
					</td>

					<% if user.role != 0 %>
						<td>
							<%= link_to "Eliminar", user_path(user), method: :delete, data:{confirm: "¿Esta seguro?"} %>
						</td>
					<% else %>
							<td></td>
					<% end %>

				</tr>

			<% end %>
		</table>

	<% else %>
		<h2 class="not_found">Pagina no encontrada</h2>
	<% end %>

<% else %>
	<h2 class="not_found">Pagina no encontrada</h2>
<% end %>

</div>
</div>