<div class="container">
<div class="show_page">
<% if session[:user] %>

	<% if User.find(session[:user]).role < 2 %>

		<% if @orders.count > 0 %>

			<div class="title_new">
				<a href="<%= user_path(@user) %>" class="btn btn-primary">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					Volver
				</a>
			</div>
			
	<table class="table table-striped table-hover ">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Items</th>
					<th>Address</th>
					<th>Created</th>
					<th>Delivery</th>
					<th>Expira</th>
					<th>Type</th>
					<th>Price</th>
					<th>Status</th>
					<% if @user.role == 0 %>
					<th>Pagado</th>
					<% end %>
					<th colspan = 2>Actions</th>
				</tr>

				<% @orders.each do |order| %>
					
					<tr>
						<td><%= order.id %></td>
						<% if @user.role != 2 %>
							<td><%= User.find(order.user.id).name %></td>
						<% end %>
						
						<td>

							<% for i in 0...order.cant.length %>
								<%= order.cant[i].capitalize %> <%= order.size[i] %><br>
							<% end %>
						</td>

						<td><%= order.address %></td>
						<% if @user.role == 0 %>
							<td><%= order.order_date.to_date %></td>
						<% end %>
						<td><%= order.entrega_date.asctime[0..order.entrega_date.asctime.length-9] %></td>

						<% if @user.role == 0 %>
							<td><%= order.expires_date.to_date %></td>
						<% end %>
						
						<td><%= order.tipo.capitalize[0..2] %></td>
						<td><strong><%= "$" + order.price.to_s %></strong></td>

						<% if @user.role == 0 %>
						<td><%= order.bill_status.to_s.capitalize %></td>
						<% end %>

						<td>
							<%= form_for :order, url: user_change_status_path(@user.id,order), method: :patch do |f| %>	
								<%= f.select 'status', options_for_select([["Enviado", 'send'], ["Pendiente", 'pending'],["Rechazado", 'rejected']]) %>
								<%= f.submit 'Change' %>
							<% end %>
						</td>

						<td>
							<%= link_to "Delete", user_order_path(@user.id,order), method: :delete, data:{confirm: "¿Are you sure?"} %>
						</td>

					</tr>

				<% end %>
			</table>

<% else %>
	<h3>No hay pedidos archivados</h3>
<% end %>


	<% else %>
		<h2 class="not_found">Pagina no encontrada</h2>
	<% end %>
<% else %>
	<h2 class="not_found">Pagina no encontrada</h2>	
<% end %>
</div>
</div>