<a href="<%= root_path %>"> Volver </a>

<h1>NUEVO USUARIO</h1>

<%= form_for :user, url: users_path do |f| %>

		<% if @user && @user.errors.any? %>
			<div id="error_explanation">
				<h2>
					Ups! <%=pluralize(@user.errors.count, "error", "errors")%> found.
				</h2>
				<ul class="list-group">
					<% @user.errors.full_messages.each do |msg| %>
						<li class="list-group-item list-group-item-danger" ><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		<% end %>

	<fieldset>
		<%=f.label :name, "Nombre"%>
		<%=f.text_field :name %>
	</fieldset>

		<%=f.hidden_field :uuid %>

	<fieldset>
		<%=f.label :username, "Usuario"%>
		<%=f.text_field :username %>
	</fieldset>		

	<fieldset>
		<%= f.radio_button(:gender, "male")%>
		<%= f.label :gender_male, "Hombre", :class => "form-control" %>
		<%= f.radio_button(:gender, "female")%>
		<%= f.label :gender_female, "Mujer", :class => "form-control" %>
	</fieldset>
	
	<fieldset>
		<%=f.label :address, "Dirección"%>
		<%=f.text_field :address %>
	</fieldset>		

	<fieldset>
		<%=f.label :phone, "Telefono"%>
		<%=f.text_field :phone %>
	</fieldset>		

	<fieldset>
		<%=f.label :cellphone, "Celular"%>
		<%=f.text_field :cellphone %>
	</fieldset>		

	<fieldset>
		<%=f.label :email, "Correo"%>
		<%=f.email_field :email %>
	</fieldset>

	<fieldset>
		<%=f.label :password, "Contraseña"%>
		<%=f.password_field :password %>
	</fieldset>
<!--
	<fieldset>
		<%=f.file_field :image %>
	</fieldset>
-->
	<fieldset>
		<%=f.submit "Create Account" %>
	</fieldset>

<% end %>