<div class="container">
	<% if session[:user] %>
		<% if User.find(session[:user]).role == 0 || @user.id == session[:user] %>




	<% if @orders.count > 0 %>

		<div class="show_page">

	<% if flash[:notice] %>
		<div class="alert alert-dismissible alert-success" style="margin-top:2px;">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<%= flash[:notice] %>
		</div>
	<% end %>
	
		<div class="title_new">
			<% if @user.verified %>
				<a href="<%= new_user_order_path(@user) %>" class="btn btn-success">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					New order
				</a>
			<% else %>
					<a href="#" class="btn btn-danger disabled">
						First confirm your password
					</a>	
			<% end %>

			<a href="#modal" class="btn btn-primary modal_hist">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				History
			</a>
		</div>

	<% if @user.role == 2 %>
		<div class= "user_page">
			<table class="table table-striped table-hover ">
				<tr>
					<th colspan = 2>Items</th>
					<th>Price</th>
					<th>Status</th>
				</tr>

				
				<% @orders.each do |order| %>
					<tr>
						<td>
							<% for i in 0...order.cant.length %>
								<%= order.cant[i].capitalize %> <%= order.size[i] %><br>
							<% end %>
						</td>
						<td id="actions">

						<ul>
							<li>
							<a href="#modal" class="modal_det btn btn-link" onclick="showModal(['<%= order.id %>','<%= order.address %>','<%= order.tipo.capitalize %>','<%= order.entrega_date.asctime[0..order.entrega_date.asctime.length-9] %>'])" >Details</a>
							</li>




							<% if order.status == 'pending' || order.status == 'send' %> <!-- Pendiente o enviado -->
								<% if !order.bill_status %> <!-- si no ha pagado -->
									<% if @actual_date < order.expires_date %> <!-- si no ha expirado -->
										<li>
											<a href="<%= edit_user_order_path(@user.id,order) %>" class="btn btn-link"> Edit </a>
										</li>

										<li>
											<%= form_for :order, url: user_change_status_path(@user.id,order), method: :patch do |f| %>
												<%= f.submit 'Cancel', :class=> "btn btn-link", data:{confirm: "¿Are you sure?"} %>
											<% end %>
										</li>

										<li>
											<%= form_for :order, url: user_delete_order_path(@user.id,order), method: :patch do |f| %>
											<%= f.submit 'Delete', :class=> "btn btn-link", data:{confirm: "¿Are you sure?"} %>
											<% end %>
										</li>


									<% end %>
								<% end %>
								<% else %>						
									<li>
										<%= form_for :order, url: user_delete_order_path(@user.id,order), method: :patch do |f| %>
										<%= f.submit 'Delete', :class=> "btn btn-link", data:{confirm: "¿Are you sure?"} %>
										<% end %>
									</li>
							<% end %>
							</ul>
						</td>

						<div class="modal fade" id="det_modal">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close close_modal"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="exampleModalLabel"></h4>
						      </div>
						      <div class="modal-body">
						        <form>
						          
						          <div class="form-group">
						            <label for="recipient-name" class="control-label">Address</label>
						            <p style="display:inline;" class="text-muted" id="adr"> </p>
						          </div>

						          <div class="form-group">
						            <label for="message-text" class="control-label">Type</label>
						            <p style="display:inline;" class="text-muted" id="tip"> </p>
						          </div>

						          <div class="form-group">
						            <label for="message-text" class="control-label">Delivery</label>
						            <p style="display:inline;" class="text-muted" id="ent"> </p>
						          </div>

						        </form>
						      </div>
						      <div class="modal-footer">

						        <button type="button" class="close_modal btn btn-primary">Ok</button>
						      </div>
						    </div>
						  </div>
						</div>
						
						<td><strong><%= "$" + order.price.to_s %></strong></td>

						<td>
							<% if order.status != 'rejected' %>
								<% if order.status != 'cancelled' %>
									<% if @actual_date < order.expires_date %>
										<% if !order.bill_status %>

											<%= form_tag user_payment_path(@user.id,order) do %>
											  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
											  		  data-image="/img/documentation/checkout/marketplace.png"
											          data-key="pk_test_kmiucY5Mcsr8aIBsSxK4fwl0"
											          data-name="<%= order.cant.length %> Item(s)"
										          	  data-description="<% for i in 0...order.cant.length %>
														<%= order.cant[i].capitalize %> <%= order.size[i] %>
														<% end %>"
											          data-amount="<%= (order.price * 100).to_s %>"
											          data-locale="auto">
											  </script>
											<% end %>

										<% else %>
											<%= order.status.capitalize %>
										<% end %>
									<% else %>
										Expired	
									<% end %>
								<% else %>
										Cancelled
								<% end %>
							<% else %>
									Rejected
							<% end %>	
						</td>

					</tr>
				<%end%>
			</table>
		</div>
	<% else %>

			<table class="table">
				<tr>
					<th>#</th>
					<% if @user.role != 2 %>
						<th>Name</th>
					<% end %>
					<th>Items</th>
					<th>Address</th>
					<% if @user.role == 0 %>
					<th>Created</th>
					<% end %>
					<th>Delivery</th>
					<% if @user.role == 0 %>
						<th>Expira</th>
					<% end %>
					<th>Type</th>
					<th>Price</th>
					<th>Status</th>
					<% if @user.role == 0 %>
					<th>Pagado</th>
					<% end %>

					<th>Actions</th>
				</tr>

				<% @orders.each do |order| %>
					
					<tr>
						<td><%= order.id %></td>

						<td>
							<strong><%= User.find(order.user.id).name %></strong>
						</td>
						
						<td>
							<% for i in 0...order.cant.length %>
								<%= order.cant[i].capitalize %> <%= order.size[i] %><br>
							<% end %>
						</td>

						<td><%= order.address %></td>
						<% if @user.role == 0 %>
							<td><%= order.order_date.to_date %></td>
						<% end %>
						<td><%= order.entrega_date.asctime[0..order.entrega_date.asctime.length-9] %></td>

						<% if @user.role == 0 %>
							<td><%= order.expires_date.to_date %></td>
						<% end %>
						
						<td><%= order.tipo.capitalize[0..2] %></td>
						<td><strong><%= "$" + order.price.to_s %></strong></td>

						<td>
								<% if order.status != 'cancelled' %>
									<% if order.status != 'rejected' %>
										<% if @actual_date < order.expires_date %>
											<% if !order.bill_status %>
										<!--
											<%= form_tag user_payment_path(@user.id,order) do %>
										  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
										  		  data-image="/img/documentation/checkout/marketplace.png"
										          data-key="pk_test_kmiucY5Mcsr8aIBsSxK4fwl0"
										          data-name="<%= order.cant.length %> Item(s)"
									          	  data-description="<% for i in 0...order.cant.length %>
													<%= order.cant[i].capitalize %> <%= order.size[i] %>
													<% end %>"
										          data-amount="<%= (order.price * 100).to_s %>"
										          data-locale="auto">
											  </script>
											<% end %>
											-->
												<strong style="color:red;">Sin pagar</strong>
											<% else %>
												<%= order.status.capitalize %>
											<% end %>
										<% else %>
											Expired	
										<% end %>
									<% else %>
											Cancelled
									<% end %>
								<% else %>
										Rejected
								<% end %>		
						</td>

						<% if @user.role == 0 %>
						<td><%= order.bill_status.to_s.capitalize %></td>
						<% end %>

						<% if @user.role == 2 %>

								<% if order.status != 'cancelled' %>
									<% if @actual_date < order.expires_date %>
										<% if !order.bill_status %>
											<td>
												<a href="<%= edit_user_order_path(@user.id,order) %>" class="btn btn-link"> Edit </a>

												<%= form_for :order, url: user_change_status_path(@user.id,order), method: :patch do |f| %>
													<%= f.submit 'Cancel', :class=> "btn btn-link"%>
												<% end %>

												<%= link_to "Delete", user_order_path(@user.id,order), method: :delete, data:{confirm: "¿Are you sure?"},:class=> "btn btn-link" %>
											</td>
										<% end %>
									<% end %>
								<% end %>

						<% else %>
							<td>
								<%= form_for :order, url: user_change_status_path(@user.id,order), method: :patch do |f| %>	

									<select class="form-control" name="order[status]" id="order_status" style="max-width:130px;">
										<option value="delayed">Entregado</option>
										<option value="send">Enviado</option>
										<option value="pending">Pendiente</option>
										<option value="rejected">Rechazado</option>
									</select>

									<button type="submit" name="commit" value="Change" class="btn btn-success" style="vertical-align: top;">
 									 <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right:4px;"></span>Change
									</button>
									
								<% end %>

								<ul class="more_opt">
									<li>
										<%= form_for :order, url: user_archivado_path(@user.id,order), method: :patch do |f| %>

											<button type="submit" name="commit" value="Archivar" class="btn btn-sm">
											<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" style="margin-right:4px;"></span>
												Archivar
											</button>

										<% end %>
									</li>
									<li>
										<a class="btn btn-danger btn-sm" data-confirm="¿Are you sure?" rel="nofollow" data-method="delete" href="<%= user_order_path(@user.id,order) %>">
											<span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right:4px;"></span>	
											Delete
										</a>
									</li>
								</ul>
							</td>

						<% end %>
					</tr>

				<% end %>
			</table>
			
		<% end %>

</div>
</div>
		<% else %>

			<div class="not_found">
				<h1>There aren't orders</h1>
				
				<% if @user.verified %>
					<a href="<%= new_user_order_path(@user) %>" class="btn btn-success">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						New order
					</a>
					<% if @orders_history.count > 0 %>
						<a href="#modal" class="btn btn-primary modal_hist">
							<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
							History
						</a>
					<% end %>
				<% else %>
					<a href="#" class="btn btn-danger disabled">
						First confirm your password
					</a>
				<% end %>

			</div>

		<% end %>

		<% else %>
			<h2 class="not_found">Pagina no encontrada</h2>
		<% end %>
	<% else %>
		<h2 class="not_found">Pagina no encontrada</h2>	
	<% end %>



	<!-- Modal History -->
  <div class="modal fade" id="history_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
          	<h4 class="modal-title"><strong>Purchase history</strong></h4>
        </div>
        <div class="modal-body">

        	<table class="table">
        		<tr>
        			<% if @user.role < 2 %>
        				<th>Name</th>
        			<% end %>
        			<th>Order</th>
        			<th>Created at</th>
        		</tr>

	        	<% @orders_history.each do |order| %>
	        		<tr>
        				<% if @user.role < 2 %>
        					<td> <strong><%= User.find(order.user.id).name %></strong> </td>
        				<% end %>
						<td>
							<ul>
							<% for i in 0...order.cant.length %>
								<li><%= order.cant[i].capitalize %> <%= order.size[i] %></li>
							<% end %>
							</ul>
						</td>
						<td>
							<%= order.entrega_date.asctime[0..order.entrega_date.asctime.length-9] %>
						</td>
	        		</tr>
	        	<% end %>
        	</table>

        </div>
        <div class="modal-footer">
          <button type="button" class="close_modal btn btn-primary">Ok</button>
        </div>
      </div>
  	</div>
  </div>