<% if session[:user] %>
	<% if @user.role == 0 %>
	
		<% if @orders.count > 0 %>

		<h3>Pedidos</h3>

		<table>
			<tr>
				<th>#</th>
				<% if @user.role != 2 %>
					<th>Nombre</th>
				<% end %>
				<th>Cantidad</th>
				<th>Tamaño</th>
				<th>Dirección</th>
				<th>Creación</th>
				<th>Entrega</th>
				<th>Expira</th>
				<th>Tipo</th>
				<th>Status</th>
				<th colspan= 3>Actions</th>
			</tr>

			<% @orders.each do |order| %>
				
				<tr>
					<td><%= order.id %></td>
					<% if @user.role != 2 %>
						<td><%= User.find(order.user.id).name %></td>
					<% end %>
					<td><%= order.cant %></td>
					<td><%= order.size %></td>
					<td><%= order.address %></td>
					<td><%= order.order_date.to_date %></td>
					<td><%= order.entrega_date.to_date %></td>
					<td><%= order.expires_date.to_date %></td>
					<td><%= order.tipo.capitalize %></td>
					<td><%= order.status.capitalize %></td>

					<% if @user.role == 2 %>
						<% if order.status == 'pending' %>
							<td>
								<a href="<%= edit_user_order_path(@user.id,order) %>"> Editar </a>
							</td>

							<td>
								<%= form_for :order, url: change_status_path(order), method: :patch do |f| %>
									<%= f.submit 'Cancel' %>
								<% end %>
							</td>

							<td>
								<%= link_to "Delete", user_order_path(@user.id,order), method: :delete, data:{confirm: "¿Are you sure?"} %>
							</td>

						<% end %>
					<% else %>
						<td>
							<%= form_for :order, url: user_change_status_path(@user.id,order), method: :patch do |f| %>	
								<%= f.select 'status', options_for_select([["Enviado", 'send'], ["Pendiente", 'pending'],["Rechazado", 'rejected']]) %>
								<%= f.submit 'Change' %>
							<% end %>
						</td>

						<td>
							<%= form_for :order, url: user_archivado_path(@user.id,order), method: :patch do |f| %>
								<%= f.submit 'Archivar' %>
							<% end %>
						</td>

					<% end %>				


				</tr>

			<% end %>
		</table>

		<% else %>
			<h3>No hay pedidos</h3>
		<% end %>


	<% else %>
		<h2 class="not_found">Pagina no encontrada</h2>
	<% end %>

<% else %>
	<h2 class="not_found">Pagina no encontrada</h2>
<% end %>