<div class="container">

<% if session[:user] %>
	<% if User.find(session[:user]).role == 0 || @user.id == session[:user] %>
<div class="show_page">

	<div class="title_new">
		<h1>Select what you want<br>(Max. 10 items)</h1>
		<%= form_for :order, url: user_orders_path do |f| %>
			<% if @order && @order.errors.any? %>
				<div id="error_explanation">
					<h2>
						<strong>Ups! <%=pluralize(@order.errors.count, "error", "errors")%> found.</strong>
					</h2>
					<ul class="list-group">
						<% @order.errors.full_messages.each do |msg| %>
							<li class="list-group-item list-group-item-danger" ><%= msg %></li>
						<% end %>
					</ul>	
				</div>
			<% end %>
		</div>

			<div id='field_div' style="margin:15px;"></div>
			
			<div class='add_rem' style="margin:15px;">
				<div id='add' class="btn btn-primary btn-sm" >
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add
				</div>
				<div id='rem'class="btn btn-danger btn-sm" >
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					Remove
				</div>
			</div>

			<!--
			<div id='editB'></div>
			<div id='saveB'></div>
			-->

			<%=f.text_field :cant, :id => "prods_bd_field", :hidden => "true" %>
			<%=f.text_field :size, :id => "tams_bd_field", :hidden => "true" %> 
			<%=f.text_field :price, :hidden => "true" %> 

 			<div class="input-group" style="margin:15px;">
		 		<span class="input-group-addon" id="basic-addon1">Address</span>
		 		<%= f.text_field :address, :value => @user.address, :class => "form-control", :required => true %>
	 		</div>

		 	<div class="input-group" style="margin:15px;">
		 		<span class="input-group-addon" id="basic-addon1">Type</span>
		 		<select name="order[tipo]" id="order_tipo" class="form-control">
		 			<option value="domicilio">Domicilio</option>
					<option value="recoger">Recoger</option>
				</select>
			</div>



			

			<div class="alert alert-dismissible alert-warning" style="margin: 0px;">
 				<h3 id="label_price" style="margin: 0 0 10px 0;">Total: $0</h3>

				<a href="<%= user_path(@user) %>" class="btn btn-default" >
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					Back
				</a>

				<button type="submit" name="commit" value="Change" class="btn btn-success" style="">
				 <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right:4px;"></span>Finish
				</button>
			</div>

	<% end %>


</div>
</div>

	<% else %>
		<h2 class="not_found">Pagina no encontrada</h2>
	<% end %>
<% else %>
	<h2 class="not_found">Pagina no encontrada</h2>	
<% end %>
