<% if session[:user] %>
	<% if User.find(session[:user]).role < 2 || @user.id == session[:user] %>

		<h2>Order No <%= @order.id %></h2>

		Cantidad <%= @order.cant %><br>
		Tamaño <%= @order.size %><br>
		Creación <%= @order.order_date %><br>
		Expira el <%= @order.expires_date %><br>
		Status <%= @order.status %><br>
		Entregado el <%= @order.entrega_date %><br>
		Pertenece al user #<%= @order.user_id %>


	<% else %>
		<h2 class="not_found">Pagina no encontrada</h2>
	<% end %>
<% else %>
	<h2 class="not_found">Pagina no encontrada</h2>	
<% end %>