/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_normalize
 */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import "bootstrap";

html{
}

body{
	margin: 0;
	position: absolute;
	background-image: url("/assets/stardust.png");
	/*background-color: rgba(90,90,90,1);
	background-size: 110%;*/
	height: 100%;
	max-width: 100%;
	width: 100%;
}

/*
h1 h2 h3 h4 h5 h6 table th td .modal-title{
	font-family: 'Roboto Condensed', sans-serif;
}
*/

.banner{
	z-index: 10;
	position: fixed;
	width: 100%;
	background-color: rgba(black,.8);
	height: 5%;
	min-height: 80px;

	.subbanner{
		margin: 0 auto;
		padding: 20px 0 20px 0;
		max-width: 1024px;

		h1{
			margin: 20px;
			color: white;
			display: inline;
		}

		ul{
			margin: 10px 10px 10px 20px;
			padding: 0;
			display: inline;
			float: right;
			li{
				margin-right: 10px;
				display: inline;
				a{
					padding: 10px;
					text-decoration: none;
					color: rgba(white,.8);
				}
				a:hover{
					background-color: rgba(white,.6);
					-webkit-transition: color .5s; /* Safari */
					transition: color .5s;
				}

				p{
					padding: 10px;
					font-size: 15pt;
					display: inline;
					color: rgba(white,.8);
				}
				p#admin{
					padding: 10px;
					font-size: 11pt;
					border: 1px solid orange;
				}
				p#venta{
					padding: 10px;
					font-size: 11pt;
					border: 1px solid green;
				}
				p#user_no{
					padding: 10px;
					font-size: 11pt;
					border: 1px solid red;
				}

				p#user_yes{
					padding: 10px;
					font-size: 11pt;
					border: 1px solid cyan;
				}

				p#no_confirm{
					font-size: 11pt;
					color: red;
				}
			}
		}
	}
}

.fondo_oscuro{
	z-index: 2;
	position: absolute;
	background-color: rgba(black,.5);
	height: 100%;
	width: 100%;

	.texto{
		position: relative;
		color: white;
		text-align: center;
		top: 55%;
  		left: 50%;
  		transform: translate(-50%, -40%);
  		margin:0 5% 0 0;
  		font-size: 45px;
  		max-width: 900px;
	}
	#credits{
		position: absolute;
		margin: 0 auto;
		text-align: center;
		color: rgba(white,.6);
		bottom: 0;
		width: 100%;
	}
}

.landing_page{
	position: absolute;
	background-position: center center;
	background-image: url("/assets/Lechona.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

.container{
	height: 100%;
	.show_page{

		background-color: rgba(white,1);
		max-width: 1024px;
		margin: 0 auto;
		padding: 80px 0 0px 0;
		-webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.53);
		-moz-box-shadow:    0px 5px 7px 0px rgba(50, 50, 50, 0.53);
		box-shadow:         0px 5px 7px 0px rgba(50, 50, 50, 0.53);

		.title_new{
			text-align: center;
			position: relative;
			margin: 20px;
			h3{
				margin: 0;
			}
		}
		.user_page{
			#actions{
				ul{
				    list-style-type: none;
	    			margin: 0;
	    			padding: 0;
					li{
						display: inline;
						.btn-link{
							padding: 0px;
							padding-right:5px;

						}
					}
				}
			}

		}
		.edit_page{
			margin: 0 auto;
			max-width: 600px;
			ul{
				padding: 0;
				display: inline;
				li{
					display: inline;
					list-style-type: none;
				}
			}
		}
	}
}
form .form-control{
	display: inline;
}
.more_opt{
	margin-top: 3px;
	padding: 0;
	li{
		display: inline-block;
		list-style-type: none;
	}
}

.not_found{
	text-align: center;
	position: absolute;
	margin: 0px;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -48%);
	color:white;
}

.modal_actor{
	z-index: 9;
	position: fixed;
	right: 0;
	top: 90px;
	margin: 10px;
	padding: 0;
	.list-group-item{
		text-align: left;
	}

	ul{
		li{
			color: red;
			list-style: none;
			width: 120px;
			height: 50px;
			a{
				color: #999;
			}
		}
	}
}