<div class= "fondo_oscuro">
	<h1 class= "texto">
		<center>
			We are the <strong>BEST</strong> making Colombian Lechonas, Empanadas and Tamales.
		</center>
	</h1>
	<p id="credits">
		DZ @2015
	</p>
</div>

<div class="landing_page"> 
</div>
  